<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>what up, <%= user ? user.profile.name + '?' : "playa?" %></h1>
  <h2>This is where the magic happens</h2>
  <% if (user?.profile.avatar) { %>
    <div class="container">

      <a href="/decks">
        <img class="card-back" src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=40975541&type=card" alt="mtg-card-back">

        <img class="profile-pic pic-on-card"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </a>
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
