<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <h2>Click a Card to add it to your current deck</h2>
  <form action="/decks/<%= deck._id %>/edit" method="GET">
  <!-- <form action="/decks/edit" method="GET"> -->
    <label>Search by Card Name: <br>
      <input type="text" name="searchCard">
      <button type="submit">Search</button>
    </label>
  </form> 

  <h2>Search results: </h2>
  <div class="search-box">
  <% cardObjs.forEach(card => { %>
    <% if(card.imageUrl) { %>
      <form class="search-form" action="/decks/<%= deck.id %>?_method=PUT" method="POST" style="display:inline;">
        <button type="submit">
          <label name="<%= card.multiverseid %>">
          <img src="<%= card.imageUrl %>" alt="<%= card.name %> ">
          </label>
        </button>
      </form>
    <% } %>
  <% }) %>
  </div>
       
  <h2>Current Deck: </h2>
  <div>

  </div>
</main>

<%- include('../partials/footer') %>