<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

    <main>
      <h1>
        <%= title %>
      </h1>

      <form action="/decks/<%= deck._id %>?_method=DELETE"
        method="POST"
      >
      <button type="submit">Delete This Deck</button>
      </form>


      <h2>Click a Card to add it to your current deck</h2>
      <form action="/decks/<%= deck._id %>/edit" method="GET">
        <!-- <form action="/decks/edit" method="GET"> -->
        <label>Search Cards By... <br>
          <select name="searchType">
            <option value="name" selected>Name</option>
            <option value="type">Type</option>
            <option value="cmc">CMC</option>
            <option value="setName">Set Name</option>
            <option value="rarity">Rarity</option>
            <option value="text">Text</option>
          </select>
          <input type="text" name="searchCard" autocomplete="off">
          <button type="submit">Search</button>
        </label>
      </form>
        
      <h2>Search results: </h2>
      <div class="search-box">
        <% cardObjs.forEach(card=> { %>
          <% if(card.imageUrl) { %>
            <form class="search-form" 
                  action="/decks/<%= deck.id %>?_method=PUT" 
                  method="POST" 
                  style="display:inline;"
            >
              <label for="card-button">
                <button id="card-button" type="submit" name="multiverseid" value="<%= card.multiverseid %>">
                  <img src="<%= card.imageUrl %>" alt="<%= card.name %>">
                </button>
              </label>
            </form>
            <% } %>
              <% }) %>
      </div>

      <h2>Current Deck: Click a card to remove it</h2>
      <div class="deck-display">
        <% deck.deckList.forEach(card => { %>
          <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card %> &type=card" alt="multiverseid: <%= card %>">
        <% }) %>
      </div>

      <% if(deckReviews) { %>
        <h2>Reviews:</h2>
        <div class="review-box">
          <% deckReviews.forEach(review => { %>
            <% if (review.content != '') { %>
              <p>(<%= review.rating %>/5) : <%= review.content %> </p>
            <% } %>
          <% }) %>
        </div>
      <% } %>

    </main>

<%- include('../partials/footer') %>