<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>My <%= title %> </h1>

  <% if(decks) { %>
    <ul>
      <% decks.forEach(deck => { %>
        <a href="/decks/<%= deck._id %>/edit"><li><%= deck.name %> </li></a>
      <% }) %>
   </ul>
  <% } else { %>
    <h2>You don't have any decks yet dummy!</h2>
  <% } %>

  <form action="/decks/new" method="GET">
    <button type="submit">Make a Deck</button>
  </form>

</main>

<%- include('../partials/footer') %>