<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= title %>
  </h1>

  <% if(decks) { %>
    <ul>
      <% decks.forEach(deck=> { %>
        <% if (deck.owner.equals(user?.profile._id)) { %>
            <a href="/decks/<%= deck._id %>/edit">
              <li>
                <%= deck.name %> 
              </li>
            </a>
          <% } %>
        <% }) %>
    </ul>

    <h1>Other Decks</h1>
    <ul>
      <% decks.forEach(deck=> { %>
        <% if (!deck.owner.equals(user?.profile._id)) { %>
          <a href="/decks/<%= deck._id %>">
            <li>
              <%= deck.name %> 
              --
              <%= deck.owner.name %> 
            </li>
          </a>
          <% } %>
        <% }) %>
    </ul>

    <% } else { %>
      <h2>There are no decks yet!</h2>
      <form action="/decks/new" method="GET">
        <button type="submit">Make a Deck</button>
      </form>
    <% } %>


</main>

<%- include('../partials/footer') %>